@charset "utf-8";
/* PC 부터 시작 */

/* 처리해야 할 일
    1. 폰트
    2. 웹표준
    3. 레이아웃
 */

/* layout */

/* header */



#header{
  position: fixed;
  left:0;
  top: 0;
  width:100%;
  height:83px;
  z-index:999;
}






.topnav {
  /* overflow: hidden; */
  background-color: #333;
}


.topnav h1{display:block;float: left;}
.topnav h1 a{font-family: 'Gugi', cursive;float:none;font-size:30px;padding:0;color:#fff;line-height:54px;}
.topnav h1 a:hover{background:none;}
.menu_wrap{float: right;}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.top_util {
  height: 30px;
  background-color: #414c5d;
}

.top_util ul li {
  float: left;
  display: inline-block;
  border-left: 1px solid #353e4d
}

.top_util ul li a {
  display: block;
  color: #fff;
  line-height: 30px;
  padding: 0 15px;
  font-size: 13px;
}

@media screen and (max-width: 1200px) {
  .top_util {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* sub layout */
#content{width:1200px;margin:50px auto;}
#svisual img{display:block;width:100%;height:400px;}



.location_wrap{background-color:#f4f4f4;border:1px solid #e5e5e5;}

.container{
  max-width: 100%;
  padding: 83px 0 0 0;
  margin:0;
}





#content h3 {
  margin-bottom:20px;
  font-size: 35px;
  line-height: 35px;
  color: #1b1b1b;
  text-align: center;
  font-weight:bold;
}

#content .h3_sub_txt {
  margin-top: 24px;
  font-size: 18px;
  color: #555;
  line-height: 30px;
  text-align: center;
  word-wrap: break-word;
}



.location_wrap .dropbtn {
  padding: 16px;
  font-size: 16px;
  border: 0;
  cursor: pointer
}

.location_wrap .dropbtn:hover,
.dropbtn:focus {
  text-decoration: underline;
}

.location_wrap .dropdown {
  position: relative;
  display: inline-block
}

.location_wrap .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1
}

.location_wrap .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block
}

.location_wrap .dropdown a:hover {
  background-color: #ddd
}

.location_wrap .show {
  display: block
}

.location_wrap .location_path {
  float: left;
}

.location_wrap .location_path li {
  float: left;
}

.location_wrap .location_path li a {
  display: block;
  padding: 15px;
  color: #555;
}

.util_area {
  float: right;
  padding:0 15px;
  text-align: right;
}

.util_area li {
  display: inline-block;
  padding:5px 2px;
}


.util_area .fa {
  padding: 8px;
  font-size: 15px;
  width: 32px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.util_area .fa:hover {
  opacity: 0.7;
}

.util_area .fa-facebook {
  background: #3B5998;
  color: white;
}

.util_area .fa-twitter {
  background: #55ACEE;
  color: white;
}

.util_area .fa-google {
  background: #dd4b39;
  color: white;
}


.util_area .fa-youtube {
  background: #bb0000;
  color: white;
}

.util_area .fa-instagram {
  background: #125688;
  color: white;
}

.util_area .fa-rss {
  background: #ff6600;
  color: white;
}

.board_tab_area {
  margin: 30px 0;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  border-right: none
}

.board_tab_area ul {}

.board_tab_area ul li {
  display: table;
  float: left;
  width: 25%;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  min-height: 55px;
}

.board_tab_area ul li.all {
  height: 110px;
}

.board_tab_area ul li a {
  display: table-cell;
  padding: 15px 0;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #959595;
}

.board_tab_area ul li a.on,
.board_tab_area ul li a:hover {
  background-color: #2168f6;
  color: #fff;
}

/* layout_ common */

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width:1199px) {
  .wrapper {
    width: 1024px
  }
}

@media only screen and (max-width:1024px) {
  .wrapper {
    width: 98%;
  }
}

/* container area */

#container .location_wrap {
  height: 27px;
  padding: 11px 28px;
  background: #f4f4f4;
  border: 1px solid #e5e5e5;
  /*border-top: 0*/
}

#container .content_wrap {
  padding: 30px 0;
}

#container .content_wrap h3 {
  margin-bottom: 25px;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1.8em;
  color: #1b1b1b;
  text-align: center;
}

#container .content_wrap h4 {
  position: relative;
  padding-left: 12px;
  margin: 15px 0;
  font-size: 1.5em;
  line-height: 1.5em;
}

#container .content_wrap h4::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 4px;
  height: 21px;
  background-color: #006ef0;
}

#container .content_wrap h5 {
  margin: 15px 15px 10px;
  padding-left: 20px;
  font-size: 1.2em;
  line-height: 1.2em;
  background-image: url('../img/common/h4_tit_bg.png');
  background-repeat: no-repeat;
}

/* footer area */

#footer {
  background-color: #3c3c3c;
  color: #fff;
}

#footer .wrapper {
  padding: 30px 15px;
}

#footer ul li {
  display: inline-block;
  background-image: url('../img/common/f_line.png');
  background-repeat: no-repeat;
  background-size: auto 11px;
  padding-left: 11px;
  margin-right: 7px;
}

#footer ul li:first-child {
  background: none;
  padding: 0;
}

#footer ul li a {
  display: block;
}

#footer .foot_info {
  margin-top: 20px;
}

#footer .foot_info>p:last-child {
  margin-top: 8px;
}


/* board common */

/* .board_wrap {
  margin-bottom: 30px;
} */

/* 
.box {
  position: relative;
  float: left;
  width: 31.3%;
  margin-left: 2%;
  border: 1px solid #ededed;
  box-sizing: border-box;
}

.box a {
  display: block;
}

.box a span.category {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 2px 5px;
  color: #fff;
  background: #2d2d2d
}

.box a img {
  width: 100%;
}

.box p.box_title {
  margin: 15px;
  text-align: center;
}

.box p.box_title a {
  overflow: hidden;
  font-size: 1.5em;
  font-weight: bold;
  color: #1b1b1b;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box p {
  margin: 15px;
  text-align: center;
}

.box p.hashtag a {
  display: inline-block;
  color: #2168f6;
}

.box p.mytag a {
  display: inline-block;
  color: #535353;
} */

.item_count_area {}

.item_count_area ul {
  overflow: hidden;
}

.item_count_area ul li {
  float: left;
  padding-top: 30px;
  width: 33.3%;
  text-align: center;
}

.item_count_area ul li a {
  font-size: 13px;
  line-height: 14px;
  color: #535353;
}

.item_count_area ul li.like {
  background: url(../img/common/ico_like.png) no-repeat 50% 0;
}

.item_count_area ul li.zzim {
  background: url(../img/common/ico_zzim.png) no-repeat 50% 0;
}

.item_count_area ul li.review {
  background: url(../img/common/ico_review.png) no-repeat 50% 0;
}

.item_count_area ul li span {
  display: inline-block;
  margin: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #959595;
}

/* paging */

.paging {
  position: relative;
  text-align: center;
  padding-top: 70px
}

.paging .page-wrap {
  display: inline-block
}

.paging .page-wrap:after {
  display: block;
  content: "";
  clear: both
}

.paging .page-wrap a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 8px;
  vertical-align: middle;
  border: 1px solid #ccc;
  line-height: 30px;
  text-align: center;
  font-size: 14px
}

.paging .page-wrap a.page-first,
.paging .page-wrap a.page-last {
  margin: 0 3px
}

.paging .page-count {
  margin: 0 18px;
  display: inline-block
}

.paging a.current {
  color: #fff !important;
  font-weight: 700;
  border-color: #006ef0;
  background-color: #006ef0
}

.paging a:hover {
  color: #006ef0;
  border-color: #006ef0
}

.paging .btnL,
.paging .btnR {
  padding: 0;
  margin-top: -19px
}

.paging .btnL .btn {
  margin-right: 6px
}

.paging .btnR .btn {
  margin-left: 6px
}

.paging.center .page-wrap {
  position: absolute;
  left: 0;
  width: 100%
}

.spr_com {
  display: inline-block;
  background: url(/image/common/spr_comm.png) no-repeat;
  text-indent: -999px;
  overflow: hidden;
  vertical-align: middle
}

.spr_com.page-next {
  background-position: -60px -100px;
  margin-left: 30px !important
}

.spr_com.page-last {
  background-position: -90px -100px
}

.spr_com.page-prev {
  background-position: -30px -100px;
  margin-right: 30px !important
}

.spr_com.page-first {
  background-position: 0 -100px
}





/**************************************************************************************
container - 컨텐츠 스타일
***************************************************************************************/

.content{margin:30px 0;}



/*color*/
.color1{color:#1a2273}
.color2{color:#134af1}


/* heading */
.container h3{margin:0 0 35px 0;/*margin-bottom:35px*/   font-size: 35px;
  color: #1b1b1b;
  line-height: 35px;
  text-align: center;}
.container h4{position:relative;margin-bottom:25px;padding-left:12px;font-size:24px;font-weight: bold; color:#121212;line-height:160%;}
.container h4:before{content:'';position:absolute;top: 9px;left: 0;width:4px;height:21px;background-color:#134af1}
.container h4:first-child {margin:0 0 10px 0;}


  
.container h5{position: relative;margin:35px 0 15px 0;padding-left:13px;color:#121212;font-size:16px;line-height:160%;}
.container h5:before{content: '';position: absolute;top:11px;left: 0;width: 6px;height: 4px;background-color: #1a2273;}
.container h5.excep{position: relative;margin:30px 0 10px 0;padding-left:13px;color:#1a2273;font-size:16px;line-height:160%;}
.container h5.excep:before{content: '';position: absolute;top:11px;left: 0;width: 6px;height: 4px;background-color: #172162;}
/* .container h5{margin:30px 0 15px 0px;font-size:15px;color:#545454;} */

.container h3+h3{margin-top:0;}
.container h3+h4{margin-top:0;}
.container h4+h5{margin-top:0;}
.container h5+h6{margin-top:0;}



/* text */
.h3_txt{    margin-bottom:30px;
  color: #5c5c5c;
  font-size: 18px;
  line-height: 23px;
  word-wrap: break-word;
  word-break: keep-all;}
  .h4_txt{margin-bottom:30px;font-size:16px;  word-wrap: break-word;
    word-break: keep-all;  line-height: 23px;}
  .h5_txt{margin-bottom:30px; font-size:16px;  word-wrap: break-word;
    word-break: keep-all;  line-height: 23px;}




/* baisc list */
.list_1st {margin:15px 0;padding:0;}
.list_1st > li,
.list_1st > dd{position: relative;margin:3px 0;padding-left:14px;color:#444;font-size:16px;word-wrap:break-word;word-break:keep-all;}
.list_1st li:before,
.list_1st dd:before{content: '';position: absolute;top:12px;left: 0;width: 5px;height: 2px;background-color: #545454;}
.list_1st dt{margin-top:10px;font-size:15px;font-weight:bold;}
.list_1st dt:first-child{margin-top:0;}
.list_2st{margin:4px 0;padding:0;}
.list_2st li{margin:3px 0;padding-left:9px;background:url(/site/common/img/list_bul2.png) no-repeat left 9px;color:#555;word-break:keep-all;word-wrap:break-word;}
.list_3st{margin:4px 0;padding:0;}
.list_3st li{margin:3px 0;padding-left:11px;background:url(/common/img/list_bul3.png) no-repeat left 8px;}
.list_1st li b,
.list_1st dd b,
.list_2st li b,
.list_3st li b{vertical-align:baseline;}


/* num_list */

.list_num > li{position: relative;margin: 10px 0;padding-left: 40px;font-size: 16px;word-wrap: break-word;word-break: keep-all;}
.num{display:inline-block;overflow:hidden;margin-bottom:3px;margin-right:5px;width:22px;height:22px;border:1px solid transparent;border-radius:50%;background-image:none; color:#fff;font-size:16px;font-weight:bold;text-align:center;line-height: 22px;vertical-align: middle;}
.num.num-default{background-color:#5a5867;}
.num.num-normal{position: absolute;left: 0;width: 30px;height: 30px; background-color:#10349e;font-size: 16px;line-height: 28px;}







/* top_box */
.top_box{background: #f1f1f4;margin-bottom:30px;}
.top_box .inner{position: relative;
  padding: 45px 50px 50px;}
  .top_box.type1 .inner{    padding-left: 200px;
    min-height: 160px;}
.top_box .inner .txtwrap{position:relative;}
.top_box .inner .tit_inner{display:block;margin:0;margin-bottom:10px;color:#10349e;font-size:20px;line-height:30px;font-weight:bold;}
.top_box .inner .txtwrap b {display:block;margin-bottom:5px; font-weight:bold; font-size:18px;}
.top_box .inner .txtwrap p{margin:0;font-size:16px;line-height:21px;color: #545454;}
.top_box .inner .btnwrap{margin-top:20px;}
.top_box .thm_figure{display:none;}
.top_box.type1 .inner .tp_icon.circle{    display: block;
  position: absolute;
  top: 19%;
  left: 45px;}
.top_box.type3 img{position: absolute;width: 100%;height: 100%;}
.top_box.type3 .inner .tit_inner,
.top_box.type3 .inner .txtwrap p{color: #fff;}
.top_box.type4{min-height: 79px;background: #fff;border:1px solid #d2d2d2;}
.top_box.type5 .inner{padding:35px 0 35px 100px;min-height:80px;}
.top_box.type4 .inner .radius{display:none;}
.top_box.type5 .inner .radius2{position: absolute;top: 25px;left: 35px;}
.top_box.type5 .inner .radius2 .tp_icon{position: relative;top: 35%;width:46px;height:46px;margin: 0px auto;}

/* 탑박스 아이콘 */
.tp_icon{display:block;overflow:hidden;width:114px;height:113px;background:url(../img/common/tp_icon.png) no-repeat;}
.tp_icon.circle1{background-position:0 0;}
.tp_icon.circle2{background-position:-113px 0;}
.tp_icon.icon1{background-position:0 0;}
.tp_icon.icon2{background-position:-114px 0px;}
.tp_icon.icon3{background-position:-227px 0;}
.tp_icon.icon4{background-position:-339px 0;}
.tp_icon.icon5{background-position:-452px 0;}
.tp_icon.icon6{background-position:-114px -127px;}
.tp_icon.icon7{background-position:-227px -128px;}
.tp_icon.icon8{background-position:-340px -128px;}
.tp_icon.icon9{background-position:-452px -128px;}

.tp_icon.icon10{background-position:0 -254px;}
.tp_icon.icon11{background-position:-114px -254px;}
.tp_icon.icon12{background-position:-227px -254px;}
.tp_icon.icon13{background-position:-339px -254px;}
.tp_icon.icon14{background-position:-452px -254px;}

.tp_icon.icon15{background-position:0 -380px;}
.tp_icon.icon16{background-position:-114px -380px;}
.tp_icon.icon17{background-position:-227px -380px;}
.tp_icon.icon18{background-position:-339px -380px;}
.tp_icon.icon19{background-position:-452px -380px;}