@charset "utf-8";
/**************************************************************************************
all - 여행필수정보 전체
***************************************************************************************/

#sub08 {
    padding-top: 83px;
    min-height: 500px;
}

#sub08 #content {
    margin: 0 auto 30px;
    /* padding: 0px 20px 100px; */
    width: 1200px;
}

#sub08 .location_wrap {
    height: 50px;
    padding: 11px 28px;
    border: 1px solid #e5e5e5;
    border-top: 0;
}

#sub08 .location {
    float: left;
}

#sub08 .ico_home {
    width: 15px;
    height: 27px;
    background: url(../img/sub05/common/ico_home.png) no-repeat 0 50%;
    text-indent: -9999px;
}

#sub08 .location_wrap .location a,
#sub08 .location_wrap .location div.lst_depth,
#sub08 .location_wrap .location span {
    display: block;
    float: left;
}

#sub08 .location_wrap .location .lst_depth,
#sub08 .location_wrap .location .p_depth {
    height: 27px;
    margin-left: 6px;
    font-size: 14px;
    color: #959595;
    line-height: 27px;
}

#sub08 .location_wrap .location .lst_depth .btn_dropdown {
    padding-right: 15px;
    color: #535353;
    background: url(../img/sub05/common/bg_locaion_dropdown.gif) no-repeat right 5px;
    cursor: pointer;
}

#sub08 .location_wrap .location .lst_depth .snb_menu_box {
    position: absolute;
    top: 49px;
    overflow-y: scroll;
    min-width: 165px;
    max-height: 236px;
    border: 1px solid #e5e5e5;
    background: #fff;
    z-index: 100;
}

#sub08 .snb_menu_box {
    top: auto;
    margin-top: 38px;
    overflow: hidden;
    outline: none;
    display: none;
}

#sub08 .location_wrap .location .lst_depth .snb_menu_box a {
    display: block;
    float: none;
    padding-right: 5px;
    padding-left: 20px;
    line-height: 39px;
    color: #535353;
}

#sub08 .snb_menu_box a.active {
    background-color: #2168f6;
}

#sub08 .snb_menu_box a:nth-child(odd) {
    background-color: #fff;
}

#sub08 .snb_menu_box a:nth-child(2n) {
    background-color: #fbfbfb;
}

#sub08 .location_wrap .location {
    float: left;
}

#sub08 .location_wrap .location a,
#sub08 .location_wrap .location div.lst_depth,
#sub08 .location_wrap .location span {
    display: block;
    float: left;
}

#sub08 .location_wrap .util_zone {
    float: right;
}

#sub08 .location_wrap .util_zone .btn_s_lnk {
    -webkit-box-shadow: 1px 1px #c1c1c1;
    box-shadow: 1px 1px #c1c1c1;
}

#sub08 .location_wrap .util_zone .btn_s_lnk {
    display: block;
    float: left;
    width: 73px;
    height: 25px;
    border: 1px solid #959595;
    border-radius: 5px;
    font-size: 14px;
    color: #959595;
    line-height: 25px;
    text-align: center;
}

#sub08 .location_wrap .util_zone .util_list {
    float: left;
    margin-left: 27px;
}

#sub08 .location_wrap .util_zone .util_list li {
    float: left;
    margin: 0 0 0 12px;
}

#sub08 .location_wrap .util_zone .util_list li a.btn_kt {
    margin-left: 0;
    background: url(../img/sub05/common/ico_kakao.png) no-repeat 0 50%;
}

#sub08 .location_wrap .util_zone .util_list li a.btn_fb {
    margin-left: 0;
    background: url(../img/sub05/common/ico_facebook.png) no-repeat 0 50%;
}

#sub08 .location_wrap .util_zone .util_list li a.btn_tw {
    margin-left: 0;
    background: url(../img/sub05/common/ico_twitter.png) no-repeat 0 50%;
}

#sub08 .location_wrap .util_zone .util_list li a.btn_pr {
    margin-left: 0;
    background: url(../img/sub05/common/ico_print.png) no-repeat 0 50%;
}

#sub08 .location_wrap .util_zone .util_list li a.btn_re {
    margin-left: 0;
    background: url(../img/sub05/common/ico_report.png) no-repeat 0 50%;
}

#sub08 .location_wrap .util_zone .util_list li a {
    display: block;
    width: 22px;
    height: 27px;
    margin-left: 17px;
    text-indent: -9999px;
}

#sub08 .cont_wrap {
    margin: 0;
    padding: 50px 0 0;
}


/**************************************************************************************
travel_view - 투어 뷰
***************************************************************************************/


.sns_area {
	margin: 30px 0;
}

.sns_area ul {}

.sns_area ul li {
	float: left;
	position: relative;
	width: 14.28%;
	text-align: center;

}

.sns_area ul li:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100px;
	background-color: #e5e5e5;
}

.sns_area ul li:first-child:after {
	display: none;
}

.sns_area ul li a {
	display: block;
	font-size: 16px;
	color: #535353;
}

.sns_area ul li a .icon {
	display: inline-block;
	height: 50px;
	width: 100%;
}

.sns_area ul li a .icon.view_like_icon {
	background: url('../img/common/ico_view_like.png') no-repeat 50% 7px;
}

.sns_area ul li a .icon.view_zzim_icon {
	background: url('../img/common/ico_view_zzim.png') no-repeat 50% 7px;
}

.sns_area ul li a .icon.view_review_icon {
	background: url('../img/common/ico_view_review.png') no-repeat 50% 7px;
}

.sns_area ul li a .icon.view_schedule_icon {
	background: url('../img/common/ico_view_schedule.png') no-repeat 50% 7px;
}

.sns_area ul li a .icon.view_visit_icon {
	background: url('../img/common/ico_view_visit.png') no-repeat 50% 7px;
}

.sns_area ul li a .icon.view_hit_icon {
	background: url('../img/common/ico_view_hits.png') no-repeat 50% 7px;
}

.sns_area ul li a .icon.view_sns_icon {
	background: url('../img/common/ico_view_sns.png') no-repeat 50% 7px;
}

.sns_area ul li a strong {
	display: block;
	margin: 5px 0;
}

/**************************************************************************************
travel_view - 타임라인
***************************************************************************************/

#sub08 .timeline-container .timeline .timeline_content .timeline_content_textbox * {
    float: left;
    margin-left: 20px
}
#sub08 .timeline-container .timeline .timeline_content .timeline_content_textbox p {
    margin-top: 10px;
}


/**************************************************************************************
travel_view - 타임라인
***************************************************************************************/



.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .column img {
      width: 200px;
  }