@charset "UTF-8";

#sub09 .content{
	width: 1200px;
	margin: 0 auto;
    background: rgba(0,0,0,0.1);
    padding-top: 188px;
}

#sub09 .content .aside_wrap {
    width: 100%;
    height: 340px;
    background: rgba(0,0,0,0.1);
    float: left;
} 
#sub09 .content .cont_wrap {
    width: 75%;
    height: 1500px;
    background: rgba(0,0,0,0.1);
    padding-left: 280px;
}  