@charset "UTF-8";

#sub09 .content{
	width: 1200px;
	margin: 0 auto;
    background: rgba(0,0,0,0.1);
    padding-top: 188px;
}

#sub09 .content .aside_wrap {
    width: 80%;
    height: 500px;
    background: rgba(0,0,0,0.1);
    float: left;
    position: fixed;
} 
#sub09 .content .cont_wrap {
    width: 1200px;
    height: 1500px;
    background: rgba(0,0,0,0.1);
    margin:auto;
}  
/*left-box의 시작*/
#sub09 .content .aside_wrap .info-left-box {
    width: 270px;
    z-index: 1001;
    padding-top: 40px;
    background: rgba(0,0,0,0.1);
    margin: 50px 0 0 -50px;
}

#sub09 .content .aside_wrap .info-left-box .user-info-box {
    
    box-shadow: 0 1px 1px rgba(125,125,125,.2);
    border-radius: 4px;
}

#sub09 .content .aside_wrap .info-left-box .user-info-box .author-box {
    width: 100%;
    text-align: center;
}

#sub09 .content .aside_wrap .info-left-box .user-info-box .author-box .author-img {
    
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 40px;
    overflow: hidden;
}

#sub09 .content .aside_wrap .info-left-box .user-info-box .author-box .author-img img {
    width: 100%;
    height: auto;
}

#sub09 .content .aside_wrap .info-left-box .user-info-box .author-box h5::before {
	display:none;
 
}

#sub09 .content .aside_wrap .info-left-box .user-info-box .author-box .author-name {
    display: block;
    width: 100%;
    color: #999;
    font-size: 12px;
}

#sub09 .content .info-left-box .author-box .author-name h3 {
    font-size: 20px;
    color: #1b1b1b;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 10px 0 10px 0;
    line-height: 43px;
    text-align: center;
    font-weight: bold;
}

#sub09 .content .aside_wrap .info-left-box .user-info-box .author-box h5{
    margin-top: 5px;
    color: #ff8000;
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    padding-left: 0;
}
#sub09 .content .aside_wrap .info-left-box .user-info-box .author-ment {
    padding: 5px 20px 0;
    text-align: center;
    color: #666;
    font-size: 14px;
    word-break: break-all;
}

#sub09 .content .aside_wrap .info-left-box .user-info-box .follower-btns {
    text-align: center;
    margin: 10px 0 5px;
}

#sub09 .content .aside_wrap .info-left-box .user-info-box .follower-btns .follower  {
    width: 100px;
    background: #fff;
    border: 1px solid #ff8000;
    border-radius: 5px;
    color: #ff8000;
    outline: 0;
}

#sub09 .content .aside_wrap .info-left-box .user-info-box .follower-btns .following {
    width: 100px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    outline: 0;
}
#sub09 .hide {
    display: none!important;
}
#sub09 .content .aside_wrap .info-left-box .user-info-box .author-page-links {
    padding: 10px 30px;
}
#sub09 .content .aside_wrap .info-left-box .user-info-box .author-page-links ul {
    text-align: center;
}
#sub09 .content .aside_wrap .info-left-box .user-info-box .author-page-links li {
    display: inline-block;
    line-height: 21px;
    text-align: center;
}
#sub09 .content .aside_wrap .info-left-box .user-info-box .author-page-links a {
    color: #999;
    font-size: 12px;
}
#sub09 .content .aside_wrap .info-left-box .user-info-box .author-page-links a .count {
    color: #ff8000;
}
/*left-box의 종료*/

/*right-box의 실행*/
#sub09 .content .aside_wrap .info-right-box {
    width: 100px;
    height: 300px;
    background: rgba(0,0,0,0.1);
    position: absolute;
    right: 380px;
    top: 50px;
}


#sub09 .content .aside_wrap .info-right-box .nav-warp ul li {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0;
}

#sub09 .content .aside_wrap .info-right-box .nav-warp a.btn-top {
    
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 0 0 10px;
    padding: 0 0 0 11px;
    color: #999;
    font-size: 12px;
}

#sub09 .content .aside_wrap .info-right-box .nav-warp ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #bbb;
    font-size: 12px;
    padding: 0 0 0 11px;
    cursor: pointer;
    border-left: 5px solid #ddd;
}
#sub09 .story-nav a {
    text-decoration: none!important;
}
#sub09 .story-nav ul li a span {
    padding-right: 3px;
}
#sub09 .story-nav .nav-cmt {
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    color: #999;
    font-size: 12px;
    background: url(../img/sub09/comment.png) 10px 8px no-repeat;
}
/*right-box의 종료*/