@charset "UTF-8";

#sub09 .content{
   width: 100%;
   margin: 0 auto;
   
    
}

#sub09 .content .aside_wrap {
    width: 100%;
    height: 500px;
    
    float: left;
    position: fixed;
} 
#sub09 .content .cont_wrap {
    width: 900px;
    
    margin-left: 30%;
    margin-top: 50px;
}  
/*left-box의 시작*/
#sub09 .content .aside_wrap .info-left-box {
   
        width: 270px;
        z-index: 1001;
        padding-top: 40px;
        
        margin: 50px 0 0 15%;
    
}

#sub09 .content .aside_wrap .info-left-box .user-info-box {
    
    /*box-shadow: 0 1px 1px rgba(125,125,125,.2);*/
    border-radius: 4px;
}
 
#sub09 .content .aside_wrap .info-left-box .user-info-box .author-box {
    width: 100%;
    text-align: center;
}

#sub09 .content .aside_wrap .info-left-box .user-info-box .author-box .author-img {
    
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 40px;
    overflow: hidden;
}

#sub09 .content .aside_wrap .info-left-box .user-info-box .author-box .author-img img {
    width: 100%;
    height: auto;
}

#sub09 .content .aside_wrap .info-left-box .user-info-box .author-box h5::before {
   display:none;
 }

#sub09 .content .aside_wrap .info-left-box .user-info-box .author-box .author-name {
    display: block;
    width: 100%;
    color: #999;
    font-size: 12px;
}

#sub09 .content .info-left-box .author-box .author-name h3 {
    font-size: 20px;
    color: #1b1b1b;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 10px 0 10px 0;
    line-height: 43px;
    text-align: center;
    font-weight: bold;
}

#sub09 .content .aside_wrap .info-left-box .user-info-box .author-box h5{
    margin-top: 5px;
    color: #ff8000;
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    padding-left: 0;
}
#sub09 .content .aside_wrap .info-left-box .user-info-box .author-ment {
    padding: 5px 20px 0;
    text-align: center;
    color: #666;
    font-size: 14px;
    word-break: break-all;
}

#sub09 .content .aside_wrap .info-left-box .user-info-box .follower-btns {
    text-align: center;
    margin: 10px 0 5px;
}

#sub09 .content .aside_wrap .info-left-box .user-info-box .follower-btns .follower  {
    width: 100px;
    background: #fff;
    border: 1px solid #ff8000;
    border-radius: 5px;
    color: #ff8000;
    outline: 0;
}

#sub09 .content .aside_wrap .info-left-box .user-info-box .follower-btns .following {
    width: 100px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    outline: 0;
}
#sub09 .hide {
    display: none!important;
}
#sub09 .content .aside_wrap .info-left-box .user-info-box .author-page-links {
    padding: 10px 30px;
}
#sub09 .content .aside_wrap .info-left-box .user-info-box .author-page-links ul {
    text-align: center;
}
#sub09 .content .aside_wrap .info-left-box .user-info-box .author-page-links li {
    display: inline-block;
    line-height: 21px;
    text-align: center;
}
#sub09 .content .aside_wrap .info-left-box .user-info-box .author-page-links a {
    color: #999;
    font-size: 12px;
}
#sub09 .content .aside_wrap .info-left-box .user-info-box .author-page-links a .count {
    color: #ff8000;
}
/*left-box의 종료*/

/*right-box의 실행*/
#sub09 .content .aside_wrap .info-right-box {
    width: 100px;
    /*background: rgba(0,0,0,0.1);*/
    position: absolute;
    right: 330px;
    top: 50px;
}


#sub09 .content .aside_wrap .info-right-box .nav-warp ul li {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0;
}

#sub09 .content .aside_wrap .info-right-box .nav-warp a.btn-top {
    
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 0 0 10px;
    padding: 0 0 0 11px;
    color: #999;
    font-size: 12px;
}

#sub09 .content .aside_wrap .info-right-box .nav-warp ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #bbb;
    font-size: 12px;
    padding: 0 0 0 11px;
    cursor: pointer;
    border-left: 5px solid #ddd;
}
#sub09 .content .aside_wrap .info-right-box .nav-warp a {
    text-decoration: none!important;
}
#sub09 .content .aside_wrap .info-right-box .nav-warpv ul li a span {
    padding-right: 3px;
}
#sub09 .content .aside_wrap .info-right-box .nav-warp .nav-cmt {
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    color: #999;
    font-size: 12px;
    background: url(../img/sub09/comment.png) 10px 8px no-repeat;
}
/*right-box의 종료*/

/*cont-wrap의 plan-info-top 시작*/
#sub09 .content .cont_wrap .plan-info-top .plan-detail-txt .plan-tit {
    padding: 15px;
    margin: 0 0 10px;
   /* border-radius: 4px;
    box-shadow: 0 1px 1px rgba(125,125,125,.2);*/
}
#sub09 .content .cont_wrap .plan-info-top .plan-detail-txt {
    padding: 15px;
    box-shadow: 0 1px 1px rgba(125,125,125,.2);
}
#sub09 .content .cont_wrap .plan-info-top h2.plan-tit {
    color: #333;
    padding: 0 0 10px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #d0d0d0;
}
#sub09  .plan-info-top .plan-txt {
    line-height: 1.4;
    color: #666;
    font-size: 18px;
    font-weight: 300;
}
#sub09  .plan-info-top .plan-txt .more-info-con {
    padding: 15px 0 0;
}
#sub09 .plan-info-top .plan-detail-txt .more-info-con .theme-round p {
    display: inline-block;
    line-height: 16px;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: #999;
    border-right: 1px solid #eee;
    padding: 0 5px 0 0;
}
#sub09 .plan-info-top .plan-detail-txt .more-info-con .update-date {
    padding-top: 5px;
}
#sub09 .plan-info-top .plan-detail-txt .more-info-con .update-date>span:first-child {
    border-left: none;
    padding: 0 10px 0 0;
}
#sub09 .plan-info-top .plan-detail-txt .more-info-con .update-date>span {
    display: inline-block;
    line-height: 16px;
    font-size: 14px;
    color: #999;
    font-weight: 400;
    border-left: 1px solid #eee;
    padding: 0 10px;
}
/*cont-wrap의 plan-info-top 종료*/
#sub09 .cont_wrap #map{
   margin-top: 10px;
   height: 300px;
   width: 100%;
}
/*cont_wrap의 day시작*/
#sub09 .story-day {
    width: 100%;
}

#sub09 .story-day .spot-container {
    width: 100%;
    
    margin: 30px 0 40px;
    padding-left: 2px;
    border-radius: 0;
}

#sub09 .story-conts {
    width: 100%;
    
    
}
#sub09 .story-conts h3 {
    top: -10px;
    left: 2px;
    display: block;
    width: 100%;
    padding-left: 25px;
    font-size: 14px;
    color: #999;
    background: url(../../img/sub09/back_point.jpg) 10px 6px no-repeat;
}
#sub09 .story-conts h3 strong {
    display: inline-block;
    line-height: 14px;
    color: #999;
    font-size: 14px;
    font-weight: 400;
}

#sub09 .story-day .story-conts .spot-note-box {
    width: 100%;
}
#sub09 .story-day .story-conts .spot-tit {
    width: 100%;
    overflow: hidden;
    padding: 20px 0 0;
}

#sub09 .story-day .story-conts .spot-tit>a {
    display: block;
    float: left;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
#sub09 .story-day .story-conts .spot-tit h4 {
    float: left;
    height: 30px;
    margin-bottom: 15px;
    padding-left: 12px;
    font-size: 24px;
    font-weight: bold;
    color: #121212;
    line-height: 32px;
}
#sub09 .story-wrap .story-conts .spot-tit h4>span {
    display: block;
    float: left;
    max-width: 800px;
    line-height: 30px;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-left: 0px solid black;
}

/*cont_wrap의 day종료*/

/*.spot-contents시작*/
#sub09 .story-conts .spot-contents {
    
    padding: 10px 0 0;
    background: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(125,125,125,.2);
    
}
#sub09 .spot-contents .conts-txt-area {
    overflow: hidden;
    line-height: 1.5;
    padding: 5px 0 10px;
    margin: 0 10px;
    color: #666;
    font-size: 18px;
    font-weight: 300;
}
#sub09 .conts-txt-area p {
    color: #5c5c5c;
    font-size: 16px;
    line-height: 23px;
    word-wrap: break-word;
    word-break: keep-all;
}
#sub09 .conts-txt-area p a {
    display: inline;
    color: #ff8000;
}
#sub09 .spot-contents .author-info {
    height: 30px;
    padding: 8px 0;
    margin: 5px 0 0 0;
    border-top: 1px solid #eee;
}
#sub09 .spot-contents .author-info .conts-label {
    display: block;
    float: left;
    height: 30px;
    left: 0;
    padding: 0;
    background: 0 0;
}
#sub09 .spot-contents .author-info .conts-label div {
    color: #999;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    float: left;
    cursor: pointer;
}

#sub09 .author-info .conts-label div span {
    color: #999;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}
#sub09 .spot-contents .author-info .conts-label div a {
    padding: 2px 0 2px 25px;
    margin: 0 15px 0 0;
    cursor: pointer;
}
#sub09 .spot-contents .author-info .conts-label .like-count a {
    background: url(../img/sub09/like.png) 0 3px no-repeat;
}
#sub09 .spot-contents .author-info .conts-label .comment-count a {
    background: url(../img/sub09/comment.png) 0 4px no-repeat;
    cursor: pointer;
}

#sub09 .absolute{
	text-align: left;
    bottom: 200px; 
}


@media(max-width:1680px){

    #sub09 .content .aside_wrap .info-right-box{display:none;}

}